

{#following content is from another project copied from wordpress, I want this on to look exactly like this one

<section id="product" class="product-section">
    <div class="container">

        <div class="product-grid">

            <?php if ( $product['image_url'] ) : ?>
                <img src="<?php echo esc_url( $product['image_url'] ); ?>"
                     alt="<?php echo esc_attr( $product['header'] ); ?>">
            <?php endif; ?>

            <div class="product-content">

                <h2><?php echo  $product['header']; ?></h2>

                <p><?php echo $product['desc']; ?></p>

                <?php if ( $product['text'] ) : ?>
                    <p><?php echo  $product['text']; ?></p>
                <?php endif; ?>

                <?php if ( ! empty( $product['features'] ) ) : ?>
                    <ul class="product-features">
                        <?php foreach ( $product['features'] as $feature ) : ?>
                            <li><?php echo $feature; ?></li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>

            </div>
        </div>

    </div>
</section>

#}